extends ../../../templates/navbar.pug


block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container
          each user in usertab
            h3.title Welcome to PUP Student Market, #{user.strName}
            hr
            a(class='button', style="height:150px; width:200px;", href='google.com')
                i.fa.fa-book.fa-5x 
                br
                br
                br
                br
                |Books 
            a(class='button', style="height:150px; width:200px;", href='google.com') Foods
                i.fa.fa-cutlery.fa-5x
            br
            a(class='button', style="height:150px; width:200px;", href='google.com') School Supplies
                i.fa.fa-pencil.fa-5x
            a(class='button', style="height:150px; width:200px;", href='google.com') Misc.
            hr
          each item in itemtab
            h3.title
              |
              a(href='/categories/' + item.strCatName + '/' + item.intItemID) #{item.strItemTitle}
            h3.subtitle &nbsp#{item.strCatName}
            p
              |
              b Price: Php #{item.price}
            p Seller: #{item.strName} ( #{item.strItemSNum} )
            p Date: #{item.date}
            hr
