extends ../../../templates/navbar.pug

block content
    each catname in catnametab
      h2.title #{catname.strCatName}
    hr
    each item in itemtab
      h3.title #{item.strItemTitle} &nbsp&nbsp&nbsp&nbsp&nbsp Php #{item.fltItemPrice}
      p Seller: #{item.strItemSNum}
      p Seller: #{item.datPostDate}
      hr
