extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container
          each catname in catnametab
            h2.title #{catname.strCatName}
          hr
          each item in itemtab
            h3.title
              |
              a(href='/categories/' + item.strCatName + '/' + item.intItemID) #{item.strItemTitle} &nbsp&nbsp&nbsp&nbsp&nbsp Php #{item.fltItemPrice}
            p Seller: #{item.strItemSNum}
            p Date: #{item.date}
            hr
