extends ../../../templates/navbar.pug

block content
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  style.
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        width: 60%;
        height: 40%;
        margin: auto;
        }
  each post in posttab
    h2.title
      |
      a(href='/categories/' + post.strCatName +'/page/1') #{post.strCatName}
    hr
    div(style='width: 60%; float: right')
      br
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner
          .item.active
            img(src='/images/uploaded_images/'+ post.strFirstPic)
          .item
            img(src='/images/uploaded_images/'+ post.strSecondPic)
          .item
            img(src='/images/uploaded_images/'+ post.strThirdPic)
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next
      br
    h3.title #{post.strItemTitle}
    p
      |
      b Price :
    p
      |
      b &nbsp Php #{post.price}
    br
    p Seller :
    p
      | &nbsp&nbsp
      u
        a(href='/profile/'+ post.strItemSNum ) #{post.strName} ( #{post.strItemSNum} )
    p &nbsp Status: #{post.strStatus}
    p &nbsp Commends : #{post.intCommend} &nbsp|&nbsp Reports : #{post.intReport}
    br
    p Date :
    p &nbsp #{post.date}
    br
    p Item Description :
    p - #{post.txtItemDesc}
    br
    p Contact Information:
    p &nbsp Email : #{post.strEmail}
    p &nbsp Others : #{post.txtContact}
    hr
    .field.is-grouped
      p.control
        a.button.is-primary.is-inverted.is-outlined(href='/profile/'+ post.strItemSNum +'/posts/'+ post.intItemID +'/edit') EDIT POST
      p.control
        a.button.is-primary.is-inverted.is-outlined(href='/categories/' + post.strCatName +'/page/1') BACK TO CATEGORY
