//- extends ../../../templates/navbar.pug

//- block content
//-   link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/profile.css")
//-   body
//-     each user in usertab
//-       .container
//-           section.section1.clearfix
//-             div
//-               .row.clearfix
//-                 .col2.first
//-                   img(src='/images/profile_pictures/'+ user.strProfilePicture, alt='')
//-                   br
//-                   p5
//-                     |
//-                     hr
//-                   p5
//-                     | #{user.strName}
//-                     hr
//-                   p5
//-                     | #{user.strSNum}
//-                 .col2.last
//-                   .grid.clearfix
//-                     .col3.first
//-                       h1 #{user.intCommend}
//-                       span Commend
//-                     .col3
//-                       h1 #{user.intReport}
//-                       span Report
//-                   br
//-                   .grid.clearfix      
//-                     p1
//-                         |&nbsp &nbsp #{user.strStatus}
//-                         br
//-                     p2
//-                         |&nbsp &nbsp #{user.strEmail}
//-                         br
//-                         |&nbsp &nbsp #{user.txtContact}
//-           br
//-           .field.is-grouped
//-             p.control
//-               a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/edit") Edit Profile
//-             p.control
//-               a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions/1") Transactions
//-             p.control
//-               a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/"+ user.strSNum +"/posts/1") Posts