extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container(style='height:100%')
          h3.title Hi there, (User)
          hr
          //- ul
          //-   each user in tblUser
          //-     //- li= `${user.strSNum} - ${user.strName} - ${user.strEmail} - ${user.txtContact} - ${user.strPassword} - ${user.strStatus} - ${user.intCommend} - ${user.intReport} - ${user.strType}`
          //-     li= `"${user.strSNum}" - "${user.strName}" - "${user.strEmail}" - "${user.txtContact}" - "${user.strPassword}" - "${user.strStatus}" - ${user.intCommend} - ${user.intReport} - "${user.strType}"`
          //- ul
          //-   each val in [1, 2, 3, 4, 5]
          //-     li= val
          a(class="button", href="/profile/editprofile") Edit Profile
