extends ../../../templates/navbar.pug

block content
  each user in usertab
    h3.title #{user.strName}'s posts
    hr
  each post in myposttab
    h3.title
      a(href='/categories/' + post.strCatName + '/' + post.intItemID) #{post.strItemTitle}
    h3.subtitle &nbsp#{post.strCatName}
    p
      b Price: Php #{post.price}
    p Date: #{post.date}
    br
    .field.is-grouped
      p.control
        a.button.is-primary.is-inverted.is-outlined(class="button", href='/profile/'+ post.strItemSNum +'/posts/'+ post.intItemID +'/edit' ) Edit Post
      p.control
        a.button.is-primary.is-inverted.is-outlined(class="button", href='/profile/'+ post.strItemSNum +'/posts/'+ post.intItemID +'/delete') Delete Post
    hr
