extends ../../../templates/navbar.pug

block content
<<<<<<< HEAD
  h2.title Ongoing Transactions
  hr
  .field.is-grouped
    p.control
      a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions/1") ONGOING TRANSACTION
    p.control
      a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions/hold/1") ON HOLD TRANSACTIONS
    p.control
      a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions/history/1") PREVIOUS TRANSACTIONS
  hr
=======
  link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")
  div(align='center')
    h2.title Ongoing Transactions
  hr(style='border: 0.5px solid #990000')
  div(style='width: 38%; float: left' , align='right')
    a.button(class="button", href="/profile/-/transactions/1") ONGOING TRANSACTIONS
  div(style='width: 38%; float: right' , align='left')
    a.button(class="button", href="/profile/-/transactions/history/1") PREVIOUS TRANSACTIONS
  div(style='width: 24%; float: right' , align='center')
    a.button(class="button", href="/profile/-/transactions/hold/1") ON HOLD TRANSACTIONS
  br
  br
  br
>>>>>>> API
  each trans in transtab
    if trans.page == trans.curpage
      each viewer in viewertab
        if trans.strBuyerSNum == viewer.strSNum
<<<<<<< HEAD
          h3.title ( Buyer )
            a(href='/categories/'+ trans.strCatName + '/' + trans.intItemID ) &nbsp#{trans.strItemTitle}
          h3.subtitle &nbsp#{trans.strCatName}
          p
            b Price: Php #{trans.price}
          p Seller: &nbsp
            u
              a(href='/profile/'+ trans.strItemSNum ) #{trans.strName} ( #{trans.strItemSNum} )
          p Date Started: #{trans.date}
          br
          .field.is-grouped
            p.control
              a.button.is-primary.is-inverted.is-outlined(class="button", href="/orderslip/" + trans.intTransID) Order Slip
            p.control
              a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/finishtrans/" + trans.intTransID) End Transaction
        else
          h3.title ( Seller )
            a(href='/categories/'+ trans.strCatName + '/' + trans.intItemID ) &nbsp#{trans.strItemTitle}
          h3.subtitle &nbsp#{trans.strCatName}
          p
            b Price: Php #{trans.price}
          p Buyer: &nbsp
            u
              a(href='/profile/'+ trans.strBuyerSNum ) #{trans.strName} ( #{trans.strBuyerSNum} )
          p Date Started: #{trans.date}
          br
          .field.is-grouped
            p.control
              a.button.is-primary.is-inverted.is-outlined(class="button", href="/orderslip/" + trans.intTransID) Order Slip
            p.control
              a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/finishtrans/" + trans.intTransID) End Transaction
      hr
=======
          .card
            h3.card-header
              h3.subtitle &nbsp#{trans.strCatName}
            .card-body
              h4.card-title
                h9 &nbsp&nbsp( Buyer ) #{trans.strItemTitle}
                #image-container
                  if trans.strFirstPic != 'blank.jpg'
                    img(src='/images/uploaded_images/'+trans.strFirstPic)
                  else if trans.strSecondPic != 'blank.jpg'
                    img(src='/images/uploaded_images/'+trans.strSecondPic)
                  else
                    img(src='/images/uploaded_images/'+trans.strThirdPic)
                p.card-text
                    ul1
                      b &nbsp&nbsp Price: Php #{trans.price}
                      br
                    ul1
                      b &nbsp&nbsp Seller: &nbsp
                        u
                          a.lan(href='/profile/'+ trans.strItemSNum ) #{trans.strName} ( #{trans.strItemSNum} )
                      br
                    ul1
                      b &nbsp&nbsp Date Started: #{trans.date}
                br
                .field.is-grouped
                  p.control
                    a.btn.btn-primary(href='/categories/' + trans.strCatName + '/' + trans.intItemID) View Details
                  p.control
                    a.btn.btn-primary(href="/orderslip/" + trans.intTransID) Order Slip
                  p.control
                    a.btn.btn-primary(href="/profile/-/confirmtrans/" + trans.intTransID) End Transaction
          br
        else
          .card
            h3.card-header
              h3.subtitle &nbsp#{trans.strCatName}
            .card-body
              h4.card-title
                h9 &nbsp&nbsp( Seller ) #{trans.strItemTitle}
                #image-container
                  img(src='/images/uploaded_images/'+trans.strFirstPic)
                p.card-text
                    ul1
                      b &nbsp&nbsp Price: Php #{trans.price}
                      br
                    ul1
                      b &nbsp&nbsp Buyer: &nbsp
                        u
                          a.lan(href='/profile/'+ trans.strBuyerSNum ) #{trans.strName} ( #{trans.strBuyerSNum} )
                      br
                    ul1
                      b &nbsp&nbsp Date Started: #{trans.date}
                br
                .field.is-grouped
                  p.control
                    a.btn.btn-primary(href='/categories/' + trans.strCatName + '/' + trans.intItemID) View Details
                  p.control
                    a.btn.btn-primary(href="/orderslip/" + trans.intTransID) Order Slip
                  p.control
                    a.btn.btn-primary(href="/profile/-/confirmtrans/" + trans.intTransID) End Transaction
          br
  br
>>>>>>> API
  each curpage in curpagetab
    .field.is-grouped
      if curpage > 1
        each prevpage in prevpagetab
          p.control
<<<<<<< HEAD
            a.button.is-primary.is-inverted.is-outlined.is-hovered(href='/profile/-/transactions/'+ prevpage ) << Previous
=======
            a.button.is-hovered(href='/profile/-/transactions/'+ prevpage ) << Previous
>>>>>>> API
      each lastpage in lastpagetab
        each page in pagetab
          if page == curpage
            p.control
<<<<<<< HEAD
              a.button.is-primary.is-inverted.is-hovered() #{page}
          else
            if page <= lastpage
              p.control
                a.button.is-primary.is-inverted.is-outlined(href='/profile/-/transactions/'+ page ) #{page}
        each nextpage in nextpagetab
          if curpage < lastpage
            p.control
              a.button.is-primary.is-inverted.is-outlined.is-hovered(href='/profile/-/transactions/'+ nextpage ) Next >>
=======
              a.jon.button.is-hovered() #{page}
          else
            if page <= lastpage
              p.control
                a.button(href='/profile/-/transactions/'+ page ) #{page}
        each nextpage in nextpagetab
          if curpage < lastpage
            p.control
              a.button.is-hovered(href='/profile/-/transactions/'+ nextpage ) Next >>
>>>>>>> API
