extends ../../../templates/navbar.pug

block content
  h2.title Previous Transactions
  hr
  .field.is-grouped
    p.control
      a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions") ONGOING TRANSACTION
    p.control
      a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions/hold") ON HOLD TRANSACTIONS
    p.control
      a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile/-/transactions/history") PREVIOUS TRANSACTIONS
  hr
  each trans in transtab
    each viewer in viewertab
      if trans.strBuyerSNum == viewer.strSNum
        h3.title ( Buyer ) #{trans.strItemTitle}
        h3.subtitle &nbsp#{trans.strCatName}
        p
          b Price: Php #{trans.price}
        p Seller: &nbsp
          u
            a(href='/profile/'+ trans.strItemSNum ) #{trans.strName} ( #{trans.strItemSNum} )
        p Date Started: #{trans.date}
        p Date Finished: #{trans.fin}
      else
        h3.title ( Seller ) #{trans.strItemTitle}
        h3.subtitle &nbsp#{trans.strCatName}
        p
          b Price: Php #{trans.price}
        p Buyer: &nbsp
          u
            a(href='/profile/'+ trans.strBuyerSNum ) #{trans.strName} ( #{trans.strBuyerSNum} )
        p Date Started: #{trans.date}
        p Date Finished: #{trans.fin}
    hr
